# Python
__pycache__/
*.pyc
telemetryEnv/
.env
# =======

# Logs / data
Logs/
logs.log
activity.db
# =======

# Android App builds
agents/android/app/build/
agents/android/build/
agents/android/.gradle/
agents/android/local.properties
agents/android/app/src/androidTest/
agents/android/app/src/test/
# =======

# IDE files
.idea/
.vscode/
*.iml
# =======

# Native builds
agents/android/externalNativeBuild/
agents/android/cxx/
# =======
